@import '../../assets/styles/_config.scss';

.item_data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.75rem;
  }

  // Nämä määrittelevät tapahtuman tekstiväriksi ja tapahtuman alapuolelle ohuen vaakaviivan.
  // Värit haetaan muuttujien arvoista
.item {
    color: $color-neutral-dark;
    border-bottom: 1px solid $color-neutral-light;
  }
  

  // Tämä asettelee oikealla puolella olevien elementtien tasauksen oikeaan reunaan.
.item_weight, .item_repeat {
    text-align: right;
  } 

// Tämä määrittelee tapahtuman ensimmäisen rivin tekstivärin sekä lihavoi tekstin.
.item_type, .item_weight {
    color: $color-neutral-darkest;
    font-weight: bold;
  }
